@font-face {
    font-family: 'Roboto-Bold';
    src: url('fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url('fonts/Roboto-Light.ttf');
}

* {
    box-sizing: border-box;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-0 {width: 0%;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (min-width: 600px) {
    .col-d-0 {width: 0%; margin: 0}
    .col-d-05{width: 4.165%; margin: 0;}
    .col-d-1 {width: 8.33%; margin: 0;}
    .col-d-15 {width: 12.5%; margin: 0;}
    .col-d-2 {width: 16.66%; margin: 0;}
    .col-d-3 {width: 25%; margin: 0;}
    .col-d-4 {width: 33.33%; margin: 0;}
    .col-d-5 {width: 41.66%; margin: 0;}
    .col-d-6 {width: 50%; margin: 0;}
    .col-d-7 {width: 58.33%; margin: 0;}
    .col-d-8 {width: 66.66%; margin: 0;}
    .col-d-9 {width: 75%; margin: 0;}
    .col-d-10 {width: 83.33%; margin: 0;}
    .col-d-11 {width: 91.66%; margin: 0;}
    .col-d-12 {width: 100%; margin: 0;}
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.buttonOne {
    text-align: center;
    background: #4DB6AC;
    border: 1px solid #009688;
    border-radius: 10px;
    color: #00796B;
    font-family: 'Roboto-Bold';
    font-size: 16px;
}
.buttonTwo {
    text-align: center;
    border: 1px solid #9C27B0;
    border-radius: 10px;
    color: #9C27B0;
    font-family: 'Roboto-Bold';
    font-size: 16px;
}

.buttonOne:hover {
    background: #B2DFDB;
}

.buttonTwo:hover {
    background: #E1BEE7;
}